@{
    ViewBag.Title = "Contacto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #contacto {
        box-shadow: inset 0px -4px 0px 0px #6c6a6a;
    }
</style>
<div id="divCuerpo">
    <h4>&nbsp;</h4>
    <h2 style="">Nosotros</h2>
    <div id="div1">
        <img class="imagen" src="~/Content/imagenes/asd.png" />
        <p class="contacto" style="font-weight: bold;">
            Pizza Hut se estableció en República Dominicana en el 1992,
            con la apertura de nuestro primer restaurante ubicado en
            Unicentro Plaza, siendo la primera franquicia internacional
            de pizzas en el país. Hoy contamos con más de 20 restaurantes
            en varias zonas del territorio nacional.

            Pizza Hut continúa siendo el líder de las pizzas en el país gracias
            a nuestro consistente enfoque en la calidad y servicio inigualable,
            comprometiéndonos siempre a exceder las expectativas de nuestros clientes,
            que son la parte más importante de nuestra filosofía de trabajo.
        </p>
    </div>
    <div id="div2">
        <p class="contacto" style="font-weight: bold;">
            En el año 1998, lanzamos al mercado dominicano nuestra Hut Cheese, primera
            y verdadera Pizza con queso en el borde.

            En pizza Hut Rep. Dominicana revolucionamos el menú tradicional, los primeros
            en brindar pizzas con topping de carne de res, Cerdo y Salchicha Italiana.

            Fuimos los primeros en el mercado dominicano en centralizar las órdenes de delivery
            con el desarrollo de un Call Center, mediante el número único para servicio a domicilio
            809-620-2020 para Santo Domingo y 829-200-2020 para Santiago, Puerto Plata y San Francisco
            de Macorís.

            Nuestras pizzas llegan siempre calientitas, gracias a nuestro eficiente servicio de delivery
            y nuestro sistema Heat Pouches, que mantiene tu pizza bien caliente hasta llegar a tu casa.
        </p>
    </div>
</div>

    
<div id="divCuerpo">
    <center>
        <div align="right">
            <ul>
                <li><img class="imagen" src="~/Content/imagenes/telefono.png" /></li>
                <li><h5>809-331-7100&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </h5></li>
            </ul>
           
           
        </div>
        <div align="left">
            <ul>
                <li><img class="imagen" src="~/Content/imagenes/email.png" /></li>
                <li><h5>ASP.COÑO@itla.edu</h5></li>
            </ul>
        </div>
    </center>
</div>
<hr />
