
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="divDetallePlato">
    <h3 class="tituloPlato">Arroz</h3>
    <img src="~/Content/imagenes/arroz.jpg" />
    <p>
       <strong>Descripción:</strong> <br />
        El arroz es una gramínea de gran talla, que crece con mayor facilidad en los climas tropicales y subtropicales; puede crecer en diferentes ambientes pero es mucho mejor que se cultive en un medio caliente y húmedo.
        Tiene tallos muy ramificados y llega a medir entre 0.6 y 1.8 metros de altura; éstos terminan en forman de inflorescencia, con una panícula de 20 a 30 cm de largo. Cada panícula da entre 50 y 300 flores, que forman los granos y posteriormente un fruto en forma de cariópsis.
        Es una buena fuente de magnesio, contiene niacina, vitamina B6, tiamina, fósforo, zinc, cobre, ácido pantoténico y potasio.
    </p>
    <p>
        Es un hecho establecido hace demasiado tiempo que un lector
        se distraerá con el contenido del texto de un sitio mientras
        que mira su diseño. El punto de usar Lorem Ipsum es que tiene
        una distribución más o menos normal de las letras, al contrario
        de usar textos como por ejemplo "Contenido aquí, contenido aquí".
        Estos textos hacen parecerlo un español que se puede leer. Muchos
        paquetes de autoedición y editores de páginas web usan el Lorem Ipsum
        como su texto por defecto, y al hacer una búsqueda de "Lorem Ipsum" va
        a dar por resultado muchos sitios web que usan este texto si se encuentran
        en estado de desarrollo. Muchas versiones han evolucionado a través de los
        años, algunas veces por accidente, otras veces a propósito (por ejemplo insertándole
        humor y cosas por el estilo).
    </p>
</div>
<hr />


