
@{
    ViewBag.Title = "Mantenimientos";
    Layout = "~/Views/Shared/_LayoutAdmi.cshtml";
}
<hr />
<hr />
<table>
    <tr>
        <td> <img src="~/Content/Mantenimientos/mantenimiento.gif" width="200" height="180"/> </td>
        <td> <h2 id="Titulo">Mantenimientos</h2> </td>
    </tr>
</table>
<hr />
<div id="divMantenimientos">
    <center>
        <div>
            <h2>Categorias</h2>
            <a href="../Categorias/Index" >
                <img class="shadowImagenes" src="~/Content/Mantenimientos/categorias.jpg" width="200" height="150" />
            </a>
           <h4></h4>
         </div>
        <div>
            <h2>Comidas</h2>
            <a href="../Comidas/Index">
                <img class="shadowImagenes" src="~/Content/Mantenimientos/comidas.jpg" width="200" height="150" />
            </a>
        </div>
        <div>
            <h2>Mensajeros</h2>
            <a href="../Mensajeros/Index">
                <img class="shadowImagenes" src="~/Content/Mantenimientos/mensajero.png" width="200" height="150" />
            </a>
        </div>
        <div>
            <h2>Pedidos</h2>
            <a href="../Pedidos/Index">
                <img class="shadowImagenes" src="~/Content/Mantenimientos/pedidos.jpg" width="200" height="150" />
            </a>
        </div>
        <div>
            <h2>Usuarios</h2>
            <a href="../Usuarios/Index">
                <img class="shadowImagenes" src="~/Content/Mantenimientos/usuarios.jpg" width="200" height="150" />
            </a>
        </div>
        <div>
            <h2>Tipo de Usuario</h2>
            <a href="../TipoUsuario/Index">
                <img class="shadowImagenes" src="~/Content/Mantenimientos/tipo_de_usuario.jpg" width="200" height="150" />
            </a>
        </div>
    </center>
</div>